* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.input input {
  border: none;
  width: 80%;
  font-size: 17px;
  background-color: transparent;
  color: white;
}
input:focus {
  outline: none !important;
  font-size: 17px;
  color: white;
}